@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Operaciones";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Manual de distribuidores {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Continuando con la siguiente sección encontraremos el apartado de “Operaciones” en la barra de menú en esta sección podremos encontrar:
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#CompraP">Compra de Puntos</a>
            </li>
            <li>
                <a href="#VentaP">Venta de Puntos</a>
            </li>
            <li>
                <a href="#VentaProd">Venta de Productos</a>
            </li>
            <li>
                <a href="#Patrocinar">Patrocinar Distribuidor</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Mientras las primeras tres hacen referencia a las operaciones básicas que realizara como distribuidor, la última hace referencia a inscribir a un distribuidor al que se patrocinara.
        </p>
        <div class="col-md-4">
            <a href="~/Areas/Reseller/Content/img/captures/imagen 14.png" class="thumbnail" data-lightbox="Operaciones" data-title="Operaciones">
                <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 14.png" alt="Operaciones" />
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="CompraP">Compra de Puntos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    La compra de puntos se refiere al intercambio de dinero de curso legal de parte del distribuidor por puntos canjeables en el sitio por parte de la casa matriz, con el propósito de facilitar las operaciones del distribuidor y poder canjear por los productos pertinentes o necesarios según amerite cada cliente, esta compra será realizada vía transferencia, deposito o acuerdo previo entre la casa matriz y el distribuidor, una vez formalizado el pago podremos seleccionar esta opción para remitir la solicitud con los datos de referencia del pago y así recibir los puntos, sencillamente deberemos completar el formulario con los datos solicitados y presionamos “Confirmar”.
                </p>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info"></i>
            </div>
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: ¿Por qué puntos? La razón por la que utilizamos los puntos para suministrar a los proveedores es debido a que esto facilita la adquisición de productos sin tener que esperar a que la casa matriz de una respuesta especifica por ese producto, de este modo logramos agilizar procesos, puedes atender a tus clientes en menor tiempo y conseguir tus comisiones antes.
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="VentaP">Venta de Puntos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En este apartado encontraremos la venta de puntos entre distribuidores, esto va de la mano con el propósito de poder intercambiar puntos desde distribuidores patrocinantes a distribuidores patrocinados, cabe resaltar que, aunque hay productos de bajo coste como la póliza, el monto mínimo de compra de punto a la casa matriz es de 100, sin embargo, haciendo uso de la venta de puntos, los distribuidores pueden pasarse la cantidad que deseen de puntos entre ellos sin restricción de cantidad.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="VentaProd">Venta de Productos</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    Aquí es donde podrás concretar cualquier pedido que tengas directamente como distribuidor, en el formulario presentado podrás cambiar de manera inmediata sus puntos por los productos que vaya a vender al cliente, tal cual sucede con los puntos, el método de pago se deberá especificar previamente, por lo que el monto pagado o la referencia pueden resultar opcionales, una vez tú, como distribuidor, recibes tu pago debes ingresar a esta página y realizar la venta. 
                </p>
            </div>
             <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 15.png" class="thumbnail" data-lightbox="Solicitud Distribuidor Llena" data-title="Solicitud Distribuidor Llena">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 15.png" alt="Solicitud Distribuidor Llena" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    En primera línea podrás observar tus puntos, posteriormente el producto que desees canjear y su respectivo costo en puntos, luego un espacio para licencias que solo debe ser completado en caso de que sea una renovación, venta de póliza o un cambio de edición. Entre los productos encontramos:
                </p>
            </div>
            <div class="col-md-4">
                <ul class="index">
                    <li>
                        Venta de Licencias
                    </li>
                    <li>
                        Venta de Sucripciones
                    </li>
                    <li>
                        Venta de Pólizas
                    </li>
                    <li>
                        Activación de Productos
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <p>
                    El campo de numero de licencia es opcional, esto se debe a que solo se debe incluir si se posee previamente una licencia, es decir, en el caso de renovación de licencia o en el caso de adquisición de póliza, en estos casos se incluye la licencia y a su vez, se deben registrar los datos con máxima exactitud a los usados en el momento de la venta inicial, con el fin de no generar confusiones en la base de datos. En otras circunstancias como la de comprar una licencia por primera vez se debe dejar este espacio vacío puesto se generará el número de licencia luego de la compra. Posterior a completar todos los campos, seleccionaras el botón “Confirmar” al final, el cual confirmará la transacción y la concluira, descontandose tus puntos y terminando la venta.
                </p>
            </div>
        </div>
        <div class="alert alert-info row" role="alert">
            <div class="col-md-1">
                <i class="fa fa-5x fa-info">
                </i>    
            </div>       
            <div class="col-md-10">
                <strong>Importante!</strong><br />
                Nota: En el caso de GanSoft App, se debe realizar la activación de la licencia de GanSoft App antes de la vinculación con la licencia de GanSoft Pro, además la licencia de GanSoft Pro debe estar activada previamente, si se adquirió fue una renovación de la App, se debe vincular luego de la renovación.
            </div>
        </div>
    </div>    
    <div class="col-md-12">
        <h3 id="Patrocinar">Patrocinar Distribuidor</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    En esta sección seremos redirigidos a la ventana de “Patrocinar | Distribuidor” en la cual podremos afiliar distribuidores a los cuales apadrinar, como se explicó en la sección de Distribución, el apadrinar o no a un distribuidor solo influye en la posibilidad de ganar dinero al venderle puntos previamente obtenidos con mayor descuento, de la venta del producto en sí, ningún distribuidor “padre” se lucrará de un distribuidor “hijo”, de igual modo, al carecer de una inversión inicial más allá de la de puntos el distribuidor  “padre” no obtiene una remuneración directa o explicita al ingresar a un distribuidor “hijo”.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 13.png" class="thumbnail" data-lightbox="Patrocinar Distribuidor" data-title="Patrocinar Distribuidor">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 13.png" alt="Patrocinar Distribuidor" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    Luego de rellenar el formulario podremos presionar “Confirmar” y esto culminara el primer proceso, tras el cual la casa matriz contactara al distribuidor a fin de culminar el proceso de aceptación. 
                </p>
            </div>
        </div>
    </div>
</article>