</@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Distribución";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Manual de distribuidores {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Ya como miembro de nuestra familia y como distribuidor autorizado podrás disponer de todo un nuevo panel de control con el cual manejar tus movimientos, transacciones, compra y venta de productos o puntos siendo distribuidor, además de contar con un menú completamente diferente que te facilitara el control y realización de todas estas acciones. El primer paso es hacer clic en nuestro nombre con la sesión iniciada.
        </p>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 8.png" class="thumbnail" data-lightbox="Menu Distribuidores" data-title="Menu Distribuidores">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 8.png" alt="Menu Distribuidores" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    Donde encontraremos como nueva opción “Distribuidores” la cual nos llevara al sitio dedicado exclusivamente a los distribuidores. Le hacemos clic
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 9.png " class="thumbnail" data-lightbox="Panel" data-title="Panel">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 9.png" alt="Panel" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    y ahora encontraremos la pantalla de “Panel” o pantalla de inicio para los distribuidores, aquí podremos ver de forma bastante intuitiva nuestros movimientos, ventas, compras y productos, donde por cierto podremos acceder a los detalles de cada sección a través de la flecha de atajo nombrada “Detalles” en la parte inferior de cada recuadro además de observar cuantos puntos tenemos y un resumen de nuestras últimas operaciones.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 10.png" class="thumbnail" data-lightbox="Panel Detalles" data-title="Panel Detalles">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 10.png" alt="Panel Detalles" />
                </a>
            </div>
         </div>
    </div>
</article>