@{
    ViewBag.Manifest = MvcApplication.Areas[ViewContext.RouteData.DataTokens["area"].ToString()];
    ViewBag.Title = "Creación de cuenta";
    ViewBag.SubTitle = "";
    ViewBag.MainTitle = $"Manual de distribuidores {ViewBag.Manifest.Title}";
}

<article class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>
                @ViewBag.Title
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <br /><small>@ViewBag.SubTitle</small>
                }
            </h1>
        </div>
    </div>
    <div class="col-md-12">
        <p class="lead">
            Aquí inicia tu travesía como futuro distribuidor de los productos de la casa TD Pro, en lo siguiente encontraras todo lo necesario para iniciar de manera exitosa.
        </p>
    </div>
    <div class="col-md-12">
        <ul class="index">
            <li>
                <a href="#CreacionCuenta">Creación de cuenta</a>
            </li>
            <li>
                <a href="#InicioSesion">Iniciar Sesión</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3 id="CreacionCuenta">Creación de Cuenta</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    El primer paso a cumplir para empezar es la creación de la cuenta, para esto ingresa en nuestro portal web www.softsupply.com y en la esquina superior derecha en la barra azul oscuro de menú encontraremos la opción “Iniciar Sesión”, esto te redirigirá a una página donde encontraremos dos formularios.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 1.jpg" class="thumbnail" data-lightbox="Creacion Cuenta" data-title="Creacion Cuenta">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 1.jpg" alt="Creacion Cuenta" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 2.jpg" class="thumbnail" data-lightbox="Formularios" data-title="Formularios">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 2.jpg" alt="Formularios" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    El formulario de la izquierda podremos identificarlo como el formulario de inicio de sesión, sin embargo, primero debemos llenar el formulario de la derecha llamado “Cree una cuenta nueva”.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 3.jpg" class="thumbnail" data-lightbox="Formularios Creacion" data-title="Formularios Creacion">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 3.jpg" alt="Formularios Creacion" />
                </a>
            </div>
            <div class="col-md-8">
                <p>
                    Aquí llenar los datos solicitados nombre, correo, contraseña y seleccionas tu país, aceptamos los términos y realizamos el Captcha al hacer clic en el checkbox, finalmente hacemos clic en el botón “Registrarse”.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3 id="InicioSesion">Iniciar Sesión</h3>
        <div class="row">
            <div class="col-md-8">
                <p>
                    De realizarse con éxito ya tenemos el primer paso realizado, ahora aparecerá en la página inicial, ya con la sesión iniciada.
                </p>
            </div>
            <div class="col-md-4">
                <a href="~/Areas/Reseller/Content/img/captures/imagen 5.jpg" class="thumbnail" data-lightbox="Sesion Iniciada" data-title="Sesion Iniciada">
                    <img class="img-responsive" src="~/Areas/Reseller/Content/img/captures/imagen 5.jpg" alt="Sesion Iniciada" />
                </a>
            </div>
        </div>
    </div>
</article>